@charset "UTF-8";

body {
background: url(../img/bg-tiles.jpg) repeat;
	}
.container {
	padding: 0;
	background-color: rgb(255, 255, 255, .5);
}
.container-item {
	padding: 0 20px 0 20px;
	margin-left: auto;
	margin-right: auto;
	}

.mw300 {
    max-width: 300px;
}

.mw500 {
    max-width: 500px;
}

.mw25 {
    max-width: 25%;
}

.mw50 {
    max-width: 50%;
}

.mw1000 {
    max-width: 1000px;
}

.text-yellow {
    color: rgb(255, 204, 0);
}

.bg-grey {
    background-color: rgb(204, 204, 204);
}

.bg-yellow {
    background-color: rgb(255, 204, 102);
}

.msg-error {
	color: rgb(255,0,0); 
	text-align: center;
}

input, label {
		height: 40px;
	}
input.icons {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0 center;
	padding-left: 40px;
	}
input[name=tel1] {
	width:25px;
}
input[name="tel2"] {
	background-image: url(../img/icons-phone.png);
	width: 140px;
	}
input[name="pas"], input[name="pas2"] {
	background-image: url(../img/icons-key.png);
	}
input[name="nam"] {
	background-image: url(../img/icons-user.png);
	}
input[name="eml"] {
	background-image: url(../img/icons-post.png);
	}
input[name="code"] {
	background-image: url(../img/icons-captcha.png);
	}
input[name="adr"] {
	background-image: url(../img/icons-adr.png);
	}
input[name="comment"] {
	background-image: url(../img/icons-comment.png);
	}
input[name="servname"] {
	background-image: url(../img/icons-servname.png);
	}
input[name="servrate"] {
	background-image: url(../img/icons-servrate.png);
	}
	
.flex-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.top {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 5px;
    z-index: 1000;
}

@media screen and (max-width: 995px) {

    .flex-box,
    .foot-box {
        flex-flow: column nowrap;
    }

    .mw300,
    .mw500,
    .mw50,
    .mw25,
    mw1000 {
        max-width: 100%;
    }

    .hidden {
        display: block;
    }
}

